.footer {
    background-color: rgb(8, 16, 24);
    text-align: center;
    display: flex;
    align-items: center;
    padding: 3rem;
    border-color: #A746A7;
    border-top-style: solid;
    border-width: 2px;
}

.footer a {
    color: #9b8cfe;
    text-decoration: underline;
}

.footerHalf {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1023px) {
    .footer {
        flex-direction: column;
    }
    .footerHalf {
        margin-bottom: 10px;
    }
}