.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.navbarLogo {
    font-size: 1.5rem;
    font-weight: bold;
    height: 100%;
    flex: 1
}

.navbarLink {
    width: 100px;
    height: 50px;
    background-color: #A746A7;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 900;
    text-align: center;
    line-height: 50px;
    margin-right: 1rem;
}

.navbarTransparentLink {
    width: 100px;
    height: 50px;
    color: #A746A7;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    line-height: 50px;
    margin-right: 1rem;
    border: 2px solid #A746A7;
}

.whitespace {
    flex: 8;
}
